* {
    box-sizing: border-box;
    --fonte: 'Roboto', sans-serif;
    --cor-fundo: #E5E5E5;
    --cor-barra-topo: #C3CFD9;
    --cor-bara-inferior: #9EADBA; 
    --cor-titulo-topo: #E8833A;
    --cor-titulo-inferior: #293845;
    --cor-botao-sessao: #E8833A;
    --cor-botao-texto: #FFFFFF;
    --cor-assento-disponivel: #C3CFD9;
    --cor-assento-disponivel-borda:#7B8B99;
    --cor-assento-selecionado: #8DD7CF;
    --cor-assento-selecionado-borda: #1AAE9E;
    --cor-assento-indisponivel: #FBE192;
    --cor-assento-indisponivel-borda: #F7C52B;
}

header{
    height: 67px;
    width: 100%;
    background-color: var(--cor-barra-topo);
    font-size: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
}

header h1{
    color: var(--cor-titulo-topo);
    font-family: var(--fonte);
}

.filmes__titulo{
    height: 110px;
    width: 100%;
    background-color: var(--cor-fundo);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 67px;  
}

.filmes__titulo p{
    font-family: var(--fonte);
    font-weight: 400;
    font-size: 24px;
    color: var(--cor-titulo-inferior);    
}

.filmes__lista{
    height: calc(100vh - 110px - 67px);
    width: 100%;
    background-color: var(--cor-fundo);
}

.filmes__lista__itens{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 38px;
}


.filmes__lista__itens img {
    width: 129px;
    height: 193px;
    margin-bottom: 30px;
    margin-right: 46px;
}

.filmes__sessoes{
    background-color: var(--cor-fundo);
    height: 100vh;
}

.filmes__sessoes__texto{
    margin-left: 23px;
}

.filmes__sessoes-botoes{
    margin-left: 23px;
    margin-top: 23px;
    margin-bottom: 23px;
}

.filmes__sessoes button{
    color: var(--cor-botao-texto);
    background-color: var(--cor-botao-sessao);
    width: 83px;
    height: 43px;
    border-radius: 3px;
    margin-right: 10px;
    border: 1px var(--cor-botao-sessao);
    font-family: var(--fonte);
    font-weight: 400;
    font-size: 18px;
}

.filmes__sessoes p{
    font-size: 20px;
    font-family: var(--fonte);
    font-weight: 400;
    color: var(--cor-titulo-inferior)
}

footer{
    height: 117px;
    width: 100%;
    background-color: var(--cor-bara-inferior);
    display: flex;
    align-items: center;
    padding-left: 14px;
    position: fixed;
    bottom: 0;
}

footer img{
    width: 48px;
    height: 72px;
}

footer p{
    margin-left: 14px;
    color: var(--cor-titulo-inferior);
    font-family: var(--fonte);
    font-weight: 400;
    font-size: 26px;
}